.DS_Store
node_modules/
dist/
build/
npm-debug.log
server/testdata/
testdata/
server/src/sample_upload.ts
.idea/
.vscode/
tmp/
temp/
.idea/workspace.xml
*.ldb
deleted/*
all_our_photos_app/client_id.json
all_our_photos_app/doco/IOS_GoogleAPI.md
all_our_photos_app/assets/services.json
*.log
*.[0-9][0-9]
*config.json
*.db
*.JPG
all_our_photos_app/ios/Flutter/flutter_export_environment.sh
*.tmp
all_our_photos_app/.flutter-plugins-dependencies
all_our_photos_app/lib/generated_plugin_registrant.dart
aopsync/ios/Flutter/.last_build_id
*.lock
all_our_photos_app/ios/Flutter/Flutter.podspec
josie_export/*.jpg
DartWebServer/bin/aopmain.exe
all_our_photos_app/macos/Flutter/GeneratedPluginRegistrant.swift
aopserver/Lib/
aopserver/Scripts/
**/__pycache__/**
**/site-packages/**
**/*.py[cod]
**/.pytest_cache/**
aopmodel/.flutter-plugins-dependencies
pyserver/pyserver/Scripts/*
pyserver/pyserver/Lib/*
pyserver/pyserver/pyvenv.cfg
pyserver/ddl/drop_triggers.sql
pyserver/ddl/clean_test.sql
pyserver/src/xxxaopdbxxxx.py
pyserver/src/xxxaopservermainxxxx.py
pyserver/src/dbsession.py
pyserver/src/debris/**
aopmodel/lib/aop_classes.dart.bak
all_our_photos_app/macos/Flutter/GeneratedPluginRegistrant.swift
aopsync/xxandroid/*
*.pyc
aopsync/**/runner/**
aopsync/android/app/src/main/**
aopsync/*/flutter/**
xx*.*

all_our_photos_app/ios/Flutter/Flutter.podspec
pyserver/pyserver/**
/pyserver/pyserver
pyserver/pyserver/Scripts/pip.exe
pyserver/pyserver/Scripts/pip3.11.exe
pyserver/pyserver/Scripts/pip3.exe
/pyserver/pyserver/Scripts
/all_our_photos_app/webx
/pyserver/pyserver/Scripts
*.exe
