.DS_Store
node_modules/
dist/
build/
npm-debug.log
server/testdata/
testdata/
server/src/sample_upload.ts
.idea/
.vscode/
tmp/
temp/
.idea/workspace.xml
.idea/workspace.xml
*.ldb
deleted/*
all_our_photos_app/client_id.json
all_our_photos_app/doco/IOS_GoogleAPI.md
all_our_photos_app/doco/IOS_GoogleAPI.md
all_our_photos_app/doco/IOS_GoogleAPI.md
all_our_photos_app/assets/services.json
*.log
*.01
*.02
*.03
*.04
*.05
AopIndexBuilder/bin/aopFileImporter.config.json
AopIndexBuilder/bin/aopFileImporter.config.json
all_our_photos_app/lib/aopAppMain.config.json
*.db
*.json
*.06
all_our_photos_app/lib/aopAppMain.config.json
*.08
*.07

*.06

*.JPG
