.DS_Store
node_modules/
dist/
build/
npm-debug.log
server/testdata/
testdata/
server/src/sample_upload.ts
.idea/
.vscode/
tmp/
temp/
.idea/workspace.xml
*.ldb
deleted/*
all_our_photos_app/client_id.json
all_our_photos_app/doco/IOS_GoogleAPI.md
all_our_photos_app/assets/services.json
*.log
*.01
*.02
*.03
*.04
*.05
AopIndexBuilder/bin/aopFileImporter.config.json
all_our_photos_app/lib/aopAppMain.config.json
*.db
*.json
*.06
all_our_photos_app/lib/aopAppMain.config.json
*.08
*.07

*.06

*.JPG

all_our_photos_app/ios/Flutter/flutter_export_environment.sh

*.tmp
all_our_photos_app/.flutter-plugins-dependencies
all_our_photos_app/.flutter-plugins-dependencies
all_our_photos_app/lib/generated_plugin_registrant.dart
aopsync/ios/Flutter/.last_build_id
*.lock
all_our_photos_app/ios/Flutter/Flutter.podspec
josie_export/*.jpg
DartWebServer/bin/aopmain.exe
all_our_photos_app/macos/Flutter/GeneratedPluginRegistrant.swift
aopserver/Lib/
aopserver/Scripts/
*/__pycache__/
*/tests/__pycache__/
*/*/__pycache__/
aopmodel/.flutter-plugins-dependencies
pyserver/pyserver/Scripts/*
pyserver/pyserver/Lib/*
pyserver/src/__pycache__/*
pyserver/pyserver/pyvenv.cfg
pyserver/ddl/drop_triggers.sql
pyserver/ddl/clean_test.sql
pyserver/src/xxxaopdbxxxx.py
pyserver/src/xxxaopservermainxxxx.py
pyserver/src/dbsession.py
aopmodel/lib/aop_classes.09
aopmodel/lib/aop_classes.10
aopmodel/lib/aop_classes.11
aopmodel/lib/aop_classes.12
aopmodel/lib/aop_classes.13
aopmodel/lib/aop_classes.14
aopmodel/lib/aop_classes.15
aopmodel/lib/aop_classes.16
aopmodel/lib/aop_classes.17
aopmodel/lib/aop_classes.18
aopmodel/lib/aop_classes.19
aopmodel/lib/aop_classes.20
aopmodel/lib/aop_classes.21
aopmodel/lib/aop_classes.22
aopmodel/lib/aop_classes.23
aopmodel/lib/aop_classes.24
aopmodel/lib/aop_classes.25
aopmodel/lib/aop_classes.26
aopmodel/lib/aop_classes.27
aopmodel/lib/aop_classes.28
aopmodel/lib/aop_classes.29
pyserver/src/debris/dbsession.py
pyserver/src/debris/xxxaopdbxxxx.py
pyserver/src/debris/xxxaopservermainxxxx.py
aopmodel/lib/aop_classes.dart.bak
all_our_photos_app/macos/Flutter/GeneratedPluginRegistrant.swift
