DB_HOST=localhost
DB_USER=photos
DB_PASSWORD=photos00
DB_NAME=allourphotos_asus
DB_PORT=3306

PHOTOS_DIR=c:/data/photos/
FRONTEND_DIR=C:/Users/chris/projects/AllOurPhotos/all_our_photos_app/build/web

PORT=8000
NODE_ENV=development
